<h1>Edit Information For <%= @compound.name %></h1>

<form action="/compounds/<%= @compound.id %>" method="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH"/>


  
  <label for="name">Name:</label>
  <input type='text' id='name' name='compound[name]' value="<%= @compound.name %>"/><br/>

  <label for="molecular_formula">Molecular Formula:</label>
  <input type='text' id='molecular_formula' name='compound[molecular_formula]' value="<%= @compound.molecular_formula %>"/><br/>

  <label for="smiles">SMILES:</label>
  <input type='text' id='smiles' name='compound[smiles]' value="<%= @compound.smiles %>"/><br/>

  
  <label for="nucleophiles">Nucleophiles:</label>
  <input type='text' id='nucleophiles' name='compound[nucleophiles]' value="<%= @compound.nucleophiles %>"/><br/>

  <label for="electrophiles">Electrophiles:</label>
  <input type='text' id='electrophiles' name='compound[electrophiles]' value="<%= @compound.electrophiles %>"/><br/>

 <label for="charge">Charge:</label>
  <input type='text' id='charge' name='compound[charge]' value="<%= @compound.charge %>"/><br/>


  <label for="log_p">Log P:</label>
  <input type='text' id='log_p' name='compound[log_p]' value="<%= @value %>"/><br/>

  <label for="mass_available">Mass Available:</label>
  <input type='text' id='mass_available' name='compound[mass_available]' value="<%= @compound.mass_available %>"/><br/>

<label for="molwt">Mass Available:</label>
  <input type='text' id='molwt' name='compound[molwt]' value="<%= @value %>"/><br/>

  <input type='submit'/>
</form>

<%= link_to "<- Back to home", "/" %>

<% if @compound.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@compound.errors.count, "error") %> prohibited this compound from being saved:</h2>
    <ul>
      <% @compound.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>