<h1><%= @compound.name %></h1>

<p><%= @compound.molecular_formula %></p>
<p><%= @compound.smiles %></p>
<p><%= @compound.nucleophiles %></p>
<p><%= @compound.electrophiles %></p>
<p><%= @compound.charge %></p>
<p><%= @compound.log_p %></p>
<p><%= @compound.mass_available %></p>


  <%= link_to "<- Back to compound index", "/compounds" %>
