<%# compounds show page %>
<h3>Chemical Name: <%= @compound.name %></h3>

<ul>
      <li>Molecular Formula: <%= @compound.molecular_formula %></li><br/>
      <li> Nucleophiles: <%=@compound.nucleophiles%></li><br/>
      <li> Smiles: <%=@compound.smiles %></li><br/>
      <li> Electrophiles: <%=@compound.electrophiles %></li><br/>
      <li> Charge: <%=@compound.charge%></li><br/>
      <li> Log P: <%=@compound.log_p %></li><br/>
      <li> Mass Available: <%=@compound.mass_available%></li><br/>
      <li> Type: <%=@compound.compoundable_type%></li><br/>

      </ul><br/>

      <!-- Render the chemical structure image -->
<% if @compound.image_path %>
<%= image_tag(@compound.image_path, alt: 'Chemical Structure', size: '10%') %>
<% else %>
  <p>Chemical structure image not available.</p>
<% end %><br/><br/>

  <button onclick="location.href='/compounds/<%= @compound.id %>/inhibitor/new'"> Make a copy as 'Inhibitor' type</button><br/><br/>


  <%= link_to "<- Back to compound index", "/compounds" %>

