
<!--new.html.erb -->
<h1>Add details for new reaction</h1>


  <select hidden id="compoundlistreactant" name="reaction[reactants][]" form="createreaction">
  
    <option value="" selected disabled>Select a compound</option>
        <% @compounds.each do |compound| %>
            <option value="<%= compound.id %>"  data-image-path="<%= compound.image_path %>"><%= compound.name %></option>
        <% end %>
        
  </select><br/><br/>

  <select hidden id="compoundlistproduct" name="reaction[products][]" form="createreaction">
    
    <option value="" selected disabled>Select a compound</option>
        <% @compounds.each do |compound| %>
            <option value="<%= compound.id %>"  data-image-path="<%= compound.image_path %>"><%= compound.name %></option>
        <% end %>

  </select><br/><br/>

  <select hidden id="compoundlistcatalyst"  name="reaction[catalysts][]," form="createreaction">
   <option value="" selected disabled>Select a compound</option>
        <% @compounds.each do |compound| %>
            <option value="<%= compound.id %>"  data-image-path="<%= compound.image_path %>"><%= compound.name %></option>
        <% end %>
   
  </select><br/><br/>

<form action="/inhibitors/<%=@inhibitor.id%>/reactions" name="createreaction" method="post">

    <label>Add a reactant then select its value from the list of compounds:  </label><br/>
        
        <div  id="reactants-container">
        </div><br/><br/>

            <input type="button" value="Add Reactant" id="add-reactant-btn"><br/><br/>


    <label>Add a product then select its value from the list of compounds:  </label><br/>
    
        <div id="products-container">
        </div><br/><br/>

    
    <input type="button" value="Add Product" id="add-product-btn"><br/><br/>

 <label>Add a catalyst then select its value from the list of compounds:  </label><br/>
    
        <div id="catalysts-container">
        </div><br/><br/>

            <input type="button" value="Add Catalyst" id="add-catalyst-btn"><br/><br/>


    <label>Solvent: </label><br/>
        <input type="input" name="reaction[solvent]" ><br/><br/>

    <label>Step number: </label><br/>
        <input type="input" name="reaction[step_number]" value="<%= @inhibitor_reactions.count + 1 %>"><br/><br/>

    <label>Temperature (degrees C): </label><br/>
        <input type="input" name="reaction[temperature_c]" ><br/><br/>


    <input type="submit" value="Submit">

</form><br/><br/>




<script>
document.addEventListener("DOMContentLoaded", function() {
  const addButtonReactant = document.getElementById("add-reactant-btn");
  const addButtonProduct = document.getElementById("add-product-btn");
  const addButtonCatalyst = document.getElementById("add-catalyst-btn");

  addButtonReactant.addEventListener("click", function(e) {
    e.preventDefault();
    addElement("reactants-container", "compoundlistreactant");
  });

  addButtonProduct.addEventListener("click", function(e) {
    e.preventDefault();
    addElement("products-container", "compoundlistproduct");
  });

  addButtonCatalyst.addEventListener("click", function(e) {
    e.preventDefault();
    addElement("catalysts-container", "compoundlistcatalyst");
  });

  
  function addElement(containerId, listId) {
    const container = document.getElementById(containerId);
    const newSelect = document.createElement("select");
    newSelect.name = `reaction[${containerId.split('-')[0]}][]`;

    const compoundList = document.getElementById(listId);
    compoundList.querySelectorAll("option").forEach(option => {
      const newOption = document.createElement("option");
      newOption.value = option.value;
      newOption.text = option.text;
      newOption.selected = option.selected;

      // Add the image path as a data attribute
      newOption.setAttribute('data-image-path', option.getAttribute('data-image-path'));

      newSelect.appendChild(newOption);
    });

    // Create an image element for displaying compound image
    const compoundImage = document.createElement("img");
    compoundImage.id = `${containerId}-image`;
    compoundImage.style.display = "none"; // Initially hide the image

    newSelect.addEventListener("change", function() {
      const selectedOption = newSelect.options[newSelect.selectedIndex];
      const imagePath = selectedOption.getAttribute("data-image-path");
      if (imagePath) {
        compoundImage.src = imagePath;
        compoundImage.style.display = "block";
      } else {
        compoundImage.style.display = "none";
      }
    });

    const removeButton = document.createElement("button");
    removeButton.textContent = "Remove";
    removeButton.addEventListener("click", function() {
      container.removeChild(newSelect);
      container.removeChild(compoundImage);
      container.removeChild(removeButton);
    });

    container.appendChild(newSelect);
    container.appendChild(compoundImage);
    container.appendChild(removeButton);
  }
});
</script>



<%= link_to "<- Back to home", "/" %>



