
<h1>Edit Information For <%= @inhibitor.name %></h1>

<form action="/inhibitors/<%= @inhibitor.id %>" method="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />

  <label for="name">Name:</label>
  <input type='text' id='name' name='inhibitor[name]' value="<%= @inhibitor.name %>"/><br/>

  <label for="structure">Structure:</label>
  <input type='text' id='structure' name='inhibitor[structure]' value="<%= @inhibitor.structure %>"/><br/>

  <label for="smiles">SMILES:</label>
  <input type='text' id='smiles' name='inhibitor[smiles]' value="<%= @inhibitor.smiles %>"/><br/>

  <label for="target_site">Target Site:</label>
  <input type='text' id='target_site' name='inhibitor[target_site]' value="<%= @inhibitor.target_site %>"/><br/>

  <label for="protein">Target Protein:</label>
 

  <input type='submit'/>
</form>

<%= link_to "<- Back to home", "/" %>