


<h1>All Inhibitors</h1>



<ol>
  <% @inhibitors.each do |inhibitor| %>
   
    <li>
   <h3> <a href="/inhibitors/<%= inhibitor.id %>"><%= inhibitor.name %></a></h3>
    <!-- Render the chemical structure image -->
<% if inhibitor.image_path %>
  <%= image_tag(inhibitor.image_path, alt: 'Chemical Structure') %>
<% else %>
  <p>Chemical structure image not available.</p>
<% end %><br/><br/>
      <ul>
      <li>Chemical Structure: <%= inhibitor.structure %></li>
      <li>Chemical Name: <%= inhibitor.name %></li>
      <li> Target Site: <%=inhibitor.target_site%></li>
      <li> Smiles: <%=inhibitor.smiles%></li>
      

     <!-- <li>Binds To Protein: <%= inhibitor.protein.title %></li> -->
      </ul><br/>


 <button onclick="location.href='/inhibitors/<%=inhibitor.id%>/edit'">Edit Inhibitor '<%=inhibitor.name%></button><br/><br/>
 
 <form action="/inhibitors/<%inhibitor.id%>%" method="Post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
  </form>
    </li>
  <% end %>
</ol>

<%= link_to "<- Back", "/" %>

